In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('/Users/himanshugupta/Documents/python/Jupyter notebooks/House_price_prediction/train.csv')

Handling missing values in categorical data

In [20]:
categorical_feature_null = [feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes == 'O']
for feature in categorical_feature_null:
    print(" {}: {}% missing value ".format(feature,np.round(df[feature].isnull().mean(),4)))

 Alley: 0.9377% missing value
 MasVnrType: 0.0055% missing value
 BsmtQual: 0.0253% missing value
 BsmtCond: 0.0253% missing value
 BsmtExposure: 0.026% missing value
 BsmtFinType1: 0.0253% missing value
 BsmtFinType2: 0.026% missing value
 FireplaceQu: 0.4726% missing value
 GarageType: 0.0555% missing value
 GarageFinish: 0.0555% missing value
 GarageQual: 0.0555% missing value
 GarageCond: 0.0555% missing value
 PoolQC: 0.9952% missing value
 Fence: 0.8075% missing value
 MiscFeature: 0.963% missing value

In [21]:
def categorical_fill_null(df,categorical_feature_null):
    data = df.copy()
    data[categorical_feature_null] = data[categorical_feature_null].fillna('Missing')
    return data
df = categorical_fill_null(df,categorical_feature_null)
df[categorical_feature_null].isnull().sum()

Alley           0
MasVnrType      0
BsmtQual        0
BsmtCond        0
BsmtExposure    0
BsmtFinType1    0
BsmtFinType2    0
FireplaceQu     0
GarageType      0
GarageFinish    0
GarageQual      0
GarageCond      0
PoolQC          0
Fence           0
MiscFeature     0
dtype: int64

Handling missing value in numeric data
NOTE:- whenever you find NAN in numeric data then add another column with 1,0

In [22]:
numerical_feature_null = [feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes !='O']
for feature in numerical_feature_null:
    print("{} : {}% missing value".format(feature,np.round(df[feature].isnull().mean(),4)))

LotFrontage : 0.1774% missing value
MasVnrArea : 0.0055% missing value
GarageYrBlt : 0.0555% missing value

In [23]:
for feature in numerical_feature_null:
    median_value = df[feature].median()
    df[feature+'nan'] = np.where(df[feature].isnull(),1,0)
    df[feature].fillna(median_value,inplace=True)
df[numerical_feature_null].isnull().sum()

LotFrontage    0
MasVnrArea     0
GarageYrBlt    0
dtype: int64

In [24]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,LotFrontagenan,MasVnrAreanan,GarageYrBltnan
0,1,60,RL,65.0,8450,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,2,2008,WD,Normal,208500,0,0,0
1,2,20,RL,80.0,9600,Pave,Missing,Reg,Lvl,AllPub,...,Missing,0,5,2007,WD,Normal,181500,0,0,0
2,3,60,RL,68.0,11250,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,9,2008,WD,Normal,223500,0,0,0
3,4,70,RL,60.0,9550,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,2,2006,WD,Abnorml,140000,0,0,0
4,5,60,RL,84.0,14260,Pave,Missing,IR1,Lvl,AllPub,...,Missing,0,12,2008,WD,Normal,250000,0,0,0

Handling Temporal features

In [27]:
for feature in ['YearBuilt', 'YearRemodAdd', 'GarageYrBlt']:
    df[feature] = df['YrSold']-df[feature]

In [30]:
df[['YearBuilt', 'YearRemodAdd', 'GarageYrBlt']].head()

   YearBuilt  YearRemodAdd  GarageYrBlt
0          5             5          5.0
1         31            31         31.0
2          7             6          7.0
3         91            36          8.0
4          8             8          8.0